
.portfolio-container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    position: relative;
    top: 6rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.8rem;
}

.portfolio-header {
    color: #000;
    font-family: 'Work Sans', sans-serif;
    font-size: 42px;
    font-weight: 700;
}

.portfolio-divider {
    height: 4px;
    width: 7rem;
    background-color: #999;
    margin: 2rem auto;
}

.image-container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
}

.portfolio-image {
    width: 100%;
    max-height: 100%;
    padding: 1.5rem;
}

.portfolio-text-one {
    text-align: left;
    margin-bottom: 3rem;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}

.portfolio-text-two {
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}

.portfolio-text-three {
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 3rem;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
}


@media only screen and (min-width: 769px) and (max-width: 2800px) {
    .portfolio-row {
        display: flex;
        flex-direction: row;
    }

    .portfolio-container .portfolio-row:nth-child(2n+1) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .portfolio-text-one,
    .portfolio-text-three {
        text-align: right;
    }

    .portfolio-text-two {
        text-align: left;
    }
}






