
.AboutSection-container {
    background-image: url('/Users/l/kylebarreras/src/images/bg.png');
    position: relative;
    top: 7rem;
}

.kyle-image-container {
    width: 100%;
}

.kyleb-picture {
    max-width: 100%;
    max-height: 90%;
}

.AboutSection-name {
    color: #999;
}

.AboutSection-text {
    margin-left: 1rem;
    margin: 2rem auto;
}

.AboutSection-divider {
    height: 4px;
    width: 10vw;
    background-color: #000;
    margin: 1rem auto;
}

.AboutSection-paragraph {
    width: 90vw;
    text-align: left;
    margin: auto;
    padding: 1rem;
    color: #eee;
}

@media only screen and (min-width: 769px) and (max-width: 2800px) {
    .AboutSection-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 35rem;
    }

    .kyle-image-container {
        width: 35vw;
    }

    .kyleb-picture {
        justify-content: center;
        align-items: center;
    }

    .AboutSection-text {
        width: 50vw;
    }

    .AboutSection-name {
        font-weight: 700;
    }

    .AboutSection-paragraph {
        width: fit-content;
    }
}





